[submodule "workflow"]
	path = workflow
	url = https://github.com/lehoa1806/workflow.git
[submodule "postgresql_wrapper"]
	path = postgresql_wrapper
	url = https://github.com/lehoa1806/postgresql_wrapper.git
[submodule "slackbot"]
	path = slackbot
	url = https://github.com/lehoa1806/slackbot.git
[submodule "scraper"]
	path = scraper
	url = https://github.com/lehoa1806/scraper.git
[submodule "aws_wrappers"]
	path = aws_wrappers
	url = https://github.com/lehoa1806/aws_wrappers.git
