awscli==1.18.217
boto==2.49.0
boto3==1.16.57
botocore==1.19.57
google-api-python-client==1.12.8
google-auth-httplib2==0.0.4
google-auth-oauthlib==0.4.2
mypy-extensions==0.4.3
mypy==0.782
pymemcache==3.4.0
psycopg2-binary==2.8.6
pytest-cov==2.10.1
pytest==6.0.1
pytz==2020.5
selenium==3.141.0
slackclient==2.9.3
supervisor==4.2.1
